footer{
    width: 100%;
    height: 80px;
    background-color: black;
    border-top: var(--crimson-color) solid 35px;
    text-align: center;
}
footer section{
    color: white;
    text-align: center;
}
