/* Fuente para el burger-menu */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?k8u1kb');
    src:  url('fonts/icomoon.eot?k8u1kb#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?k8u1kb') format('truetype'),
      url('fonts/icomoon.woff?k8u1kb') format('woff'),
      url('fonts/icomoon.svg?k8u1kb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  /* Fin fuentes burger-menu */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
/* Inicio Variables */
:root{
    /* Colores */
    --orange-color: #e63e11;
    --lightred-color: #c21d17;
    --red-color: #a31915;
    --crimson-color:#69140f;
    --black-color: #0c0101;
    --grey-color: #e6e9ed;
    --input-size: 90px;
    --textarea-size: 357px;
    --button-size: 361px;
    --form-size: 366px;
    
}
/* Fin variables */
body{
    font-family: 'Roboto mono', monospace;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: var(--black-color);
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--red-color) ;
}

header .header-icons-container .icons{
    width: 350px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 80px;
}

nav .nav-aboutUs-link{
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    margin-right: 50px;
}

nav .nav-aboutUs-link a{
    color:var(--black-color);
    border-bottom: var(--black-color) 1px solid;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(12,1,1,.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 3px;
    top: 5px;
    font-size: 18px;
    z-index: 2;
}
.menu{
    position: fixed;
    background: rgba(12,1,1,.8);
    z-index: 1;
    width: 300px;
    height: 350px;
    bottom: 150;
    left: -150vw;
    display: flex;
    align-items: center;
    color: white;
    transition: .3s;
    border-bottom-right-radius: 15px;
}
.burger-button:hover{
    cursor: pointer;
}
.menu ul {
    list-style: square;
    margin: 0;
}
.menu ul ul{
    list-style: circle;
}
.menu ul p{
    margin: 0;
    font-size: 1.5em;
}
.menu a{
    color: white;
    height: 40px;
    font-size: 1.5em;
}
.menu.is-active{
    left: 0;
}