.grid-container{
    max-width: 1500px;
    margin: auto;
}
.index-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.index-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../img/background/mejores-peliculas-2019.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.index-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.index-main-text{
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 7px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: white;
}
.index-main-button{
    width: 110px;
    height: 50px;
    background-color: var(--red-color);
    display: grid;
    align-items: center;
}
.index-main-button a{
    font-weight: 700;
    font-size: 18px;
}
.articles-main{
    display: grid;
}

.articles-news-container{
    background-color: var(--grey-color);
    padding: 0 50px 40px;
}
.articles-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.articles-news-img-container{
    grid-column: 1;
}
.articles-news-img-container img{
    width: 75%;
}
.articles-news-info-container{
    grid-column: 2;
    text-align: justify;
}
.articles-news-info-container p{
    margin-bottom: 35px;
}
.articles-posts-container{
    padding: 0 50px 40px ;
}
.articles-posts-container h3{
    border-bottom: 2px solid var(--crimson-color);
    padding-bottom: 20px;
    text-align: center;
}
.articles-button{
    padding: 10px 15px;
    border: var(--crimson-color) 1px solid;
    font-size: 12px;
}
.articles-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 470px;
    margin-bottom: 50px;
}
.articles-posts-container .post-container p{
    margin-bottom: 35px;
    text-align: justify;
}
.articles-posts-container .post-container img{
    width: 100%;
}
.top5-img-container{
    padding: 0 50px 40px;
}
.top5-img-container img{
    width: 90%;
}
.top5-main-container{
    padding: 0 50px 40px;
}
.top5-main-container h3{
    border-bottom: 1px solid var(--crimson-color);
    padding-bottom: 20px;
}
.top5-main-container article h1{
    font-size: 35px;
}
.top5-main-container article img{
    width: 50%;
}
.contact-main-container{
    width: 100%;
    min-height: 250px;
    background-color:var(--grey-color) ;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a{
    border-bottom: 1px solid var(--crimson-color);
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}
.contact-main-container img{
    width: 75px;
}
.contact-main-message{
    background-color: var(--grey-color);
}
.contact-main-message form{
    width: 935px;
    border: 1px solid var(--crimson-color);
    border-radius: 3px;
    box-shadow: 0 0 2px var(--black-color);
    margin: 50px auto 0;
    padding: 5px 15px;
    background: var(--lightred-color);
}
.contact-main-message h2{
    text-align: center;
    color: var (--black-color);
    border-bottom: 2px solid var(--orange-color);
}
.contact-main-message form input{
    margin-bottom: 5px;
    width: 280px;
    height: 35px;
    padding: 0 10px;
    text-align: center;
}
.contact-main-message form textarea{
    width: 925px;
    height: 150px;
    font-size: 17px;
}
.contact-main-message button{
    background: var(--red-color);
    color: white;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    width: 932px;
    box-shadow: 0 2px 0 var(--crimson-color);
}
.contact-main-message button:hover{
    cursor: pointer;
    color: var(--black-color);
}
.aboutUs-main-container{
    padding: 70px 40px;
    background-color: var(--grey-color);
    margin-bottom: 50px;
}
.aboutUs-main-container img{
    width: 320px;
    margin-right: 30px;
}
.aboutUs-main-container .aboutUs-container{
    display: flex;
}
.aboutUs-container div p{
    text-align: justify;
}
.aboutUs-main-projects{
    padding: 0 50px 40px;
}
.aboutUs-main-projects h3{
    border-bottom: 1px solid var(--crimson-color);
    padding-bottom: 35px;
    text-align: center;
}
.project-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.project-container{
    padding: 0 8px;
    text-align: justify;
}

.youtube-video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-video{
    width: 90%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.btn-view{
    background-color: var(--lightred-color);
    color: white;
}
.btn-view:hover{
    background-color: var(--red-color);
}